.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #4463a2;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  min-height: 4vh;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.example-box {
  background: #45659fb3;
  font-size: 2vmin;
  width: 90%;
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.82);
}

.input-underline {
  color: white;
  background: transparent;
  font-size: 20px;
  text-align: center;
  border: none;
  border-bottom: 2px solid white;
}

.input-underline:focus {
  outline: none;
}

.input-underline::placeholder {
  color: white;
}
